<div class="spinner-container" *ngIf="loading$ | async">
  <mat-spinner></mat-spinner>
</div>

<div class="container" *ngIf="character$|async as character">


  <mat-card class="character-card">
    <mat-card-header>
      <mat-card-title>{{ character.name }}</mat-card-title>
      <mat-card-subtitle>Character Details</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <img class="character-img" mat-card-image [src]="character.image" alt="Character Image">

      <mat-list>
        <mat-list-item>
          <mat-icon>face</mat-icon>
          <span class="property-label">Species:</span> {{ character.species }}
        </mat-list-item>
        <mat-list-item>
          <mat-icon>gesture</mat-icon>
          <span class="property-label">Gender:</span> {{ character.gender }}
        </mat-list-item>
        <mat-list-item>
          <mat-icon>location_on</mat-icon>
          <span class="property-label">Origin:</span> {{ character.origin.name }}
        </mat-list-item>
        <mat-list-item>
          <mat-icon>location_city</mat-icon>
          <span class="property-label">Location:</span> {{ character.location.name }}
        </mat-list-item>
        <mat-list-item>
          <mat-icon>access_time</mat-icon>
          <span class="property-label">Status:</span> {{ character.status }}
        </mat-list-item>
        <mat-list-item>
          <mat-icon>calendar_today</mat-icon>
          <span class="property-label">Created:</span> {{ character.created | date }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>




</div>

